.List ul {
  list-style-type: none;
}
.Lists {
  display: flex;
}
/****NEEDS TO BE IN THEME****/
.Checked {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  background: #d9d9d9;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  transition: all 300ms ease;
}
.Checked:hover {
  opacity: 0.8;
} /****************************/
.Done {
  text-decoration: line-through;
}
.Delete {
  float: right;
  text-align: center;
  width: 40px;
}
